version: 2

updates:
  - package-ecosystem: "mix"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      lib-elixir:
        patterns:
          - "*"

  - package-ecosystem: "npm"
    directory: "/assets"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "eslint"
        update-types: ["version-update:semver-major"]
      - dependency-name: "jsdom"
    groups:
      lib-javascript:
        patterns:
          - "*"

  - package-ecosystem: "mix"
    directory: "/test/features"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "hologram"
    groups:
      feature-tests:
        patterns:
          - "*"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "github-actions"
    groups:
      github-actions:
        patterns:
          - "*"
